**/CMakeCache.txt
**/CMakeFiles
**/cmake_install.cmake
**/MakeFile
**/Testing
**/CTestTestfile.cmake
**/build
**/.DS_Store
**/.history
**/*.a
**/*.lib
**/*.exe
**/.*.swp
**/.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
src/main
tests/testHello
tags
